/*Copied from bootstrop page -- I commented below where the end of the copied section lies. I have also added my own color names */

/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400 300,700");*/
:root {
  --blue: #008cba;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #F04124;
  --orange: #fd7e14;
  --yellow: #E99002;
  --green: #43ac6a;
  --teal: #20c997;
  --cyan: #5bc0de;
  --white: #fff;
  --gray: #888;
  --gray-dark: #333;
  --primary: #008cba;
  --secondary: #eee;
  --success: #43ac6a;
  --info: #5bc0de;
  --warning: #E99002;
  --danger: #F04124;
  --light: #eee;
  --dark: #222;
  --bleeding: #B73338;
  
  --hfRed: #c8102E;
  --hfRedBright: #dc1232;
  --hfText: #454747;
  --hfVeryLight: #f4f5f7;
  
  --hfBlue: #002A3A;
  --hfBlueLight: #e5e9eb;
  --hfBlueMedium: #b2bfc3;
  
  --btnBorderActive: #c8102f;
  --btnBorder1: #e2e2e2;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-size: 16px;
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  text-align: left;
  background-color: #fff;
}


button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

/***************END COPY FROM BOOTSTRAP ************************/


/**** NAVBAR STYLING *****/

.navbar{
  margin-bottom: 30px;
}
.navbar-default{
  background-color: var(--hfRed);
}



.navbar-default .navbar-nav>li>a:hover{
  background-color: white;
  color: var(--hfRedBright);
}

.navbar-default .navbar-nav>li>a{
  font-weight: 600;
  color: white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover{
  font-weight: 600;
  font-size: 1.5em;
  color: white;
}

.navbar-default .navbar-nav>li>a{
  border:0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  font-weight: 600;
  color: var(--hfRed);
  background-color: white;
}

.navbar-default .navbar-nav>.dropdown.open>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  font-weight: 600;
  background-color: white;
  
}

/*****   Styling the dropdowns for Help sections ********/
.dropdown-menu>li>a {
  font-weight: 600;
  font-size: 1.5375rem;
  padding-bottom: 10px;
  color: var(--hfRed);
}

.dropdown-menu>li>a:hover, .dropdown-menu>.active>a:hover {
  font-weight: 600;
  font-size: 1.5375rem;
  padding-bottom: 10px;
  color: var(--hfRed);
  background-color: white;
  text-decoration: underline;
  text-decoration-color: var(--hfRed);
}

.navbar-nav>li>.dropdown-menu{
  border: 0px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus{
  background-color: var(--white);
  color: var(--hfRed);
}










/******   TABS STYLING   *******/

.tabbable > .nav > li[class=active] >a{
  background-color: var(--hfBlue);
  color: white;
  font-weight: 600;
}

.tabbable > .nav > li > a{
  background-color: var(--white);
  color: var(--hfBlue);
  border: 1px;
  border-style: solid;
  border-color: var(--hfBlueLight);
  font-weight:600;
}

label{
  font-size:1.5rem;
  font-weight: 600;
  margin-bottom:7px;
  margin-top:5px;
}


/**** BUTTON STYLES *****/

.btn.radiobtn.btn-default.active {
  background-color:var(--hfBlue);
  border-color:var(--hfBlue);
  font-weight:bold;
  color:white;
  font-size: 1.5rem;
  padding-right:5px;
  padding-left:5px;
}

.btn.radiobtn.btn{
  height: 35px;
}

.btn.radiobtn.btn-default {
  background-color: var(--white);
  border-color: var(--hfBlueLight);
  color:var(--hfBlue);
  font-size:1.5rem;
  font-weight:600;
  ;
}

.btn.radiobtn.btn-default:hover {
  background-color: var(--hfBlueMedium);
  border-color: var(--hfBlueMedium);
  color:white;
  font-size: 1.5rem;
  font-weight: 600;
  padding-right:5px;
  padding-left:5px;
}

.btn.radiobtn.btn-default.active:hover {
  background-color:var(--hfBlue);
  border-color:var(--hfBlue);
  font-weight:bold;
  color:white;
  font-size: 1.5rem;
  
}



/**** DROPDOWN *****/

.selectize-dropdown-content{
  max-height: 400px;
}

.selectize-dropdown-content{
  line-height: 25px;
}

.selectize-dropdown .optgroup-header{
  color:black;
  font-weight:bold;
  font-size:1.4rem;
}

.selectize-input{
  line-height:22px;
  border: 0px;
  border-right:1px solid #cccccc;
  border-bottom:1px solid #cccccc;;
}



/******   DT BOTTOM STYLING   *******/
.dt-button.buttons-excel.buttons-html5{
  margin-top:7px;
  background-color: #efefef;
  border-color: #e2e2e2;
}

.dt-button.buttons-pdf.buttons-html5{
  margin-top:7px;
  background-color: #efefef;
  border-color: #e2e2e2;
}

.dt-button.buttons-collection:hover{
  margin-top:7px;
 background-color: #bad5f1;
  border-color: #bad5f1;
  
}



/**** D3 TOOLTIP STYLING *****/

#tooltipBar {	
    position: absolute;			
    text-align: center;			
    
    font: 16px sans-serif;		
    
    border-radius: 8px;
    pointer-events: none;	
}

#tooltipLine {	
    position: absolute;			
    text-align: left;			;				
    font: 16px sans-serif;	
    pointer-events: none;
}

.table{
  width: 150px;
  background-color:white;
}

.table th{
  width: 150px;
  background-color:#ccc;
}

td {
 text-align:left
}



/**** D3 MOUSEOVER STYLES  *****/
.mouseSvg {
  opacity: 0.0;
  fill: white;
}

.mouseSvgBarChart {
  opacity: 0.0;
  fill: white;
}

.guide {
  stroke-width: 1;
  stroke: black;
}


#container {
  position: relative;
}

.popover {
			pointer-events: none;
			background: lightsteelblue;
}



/**** D3 PLOT FONTS *****/
.plot_text{
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.output_titles {  
 font-size: 150%;
 font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.axis{
  font-size: 90%;
}

.axisTitle{
  font-size: 110%;
}

.legend{
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* OUTOUTS */


/******   MAPS   *******/

.leaflet-container { 
  background:white !important;
}

.col_leaflet {
  min-width:430px;
  padding-right: 0px;
}

#map_title_male{
font-size: 1.6rem;
font-weight: 550;
}

#map_title_female{
font-size: 1.6rem;
font-weight: 550;
}

/******   SIZES OF CONATINERS/DIVS/ROWS ETC   *******/
.container-fluid {
  margin:auto;
}

.well_input{
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 350px;
}

.row{
  margin-left:-10px;
  margin-right:-10px;
}

.well_description {
  background-color:white;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  padding: 15px;
}
.output_desc {
  line-height: 1.2;
  font-size: 2.1rem;

}

.explanitory_text{
  font-size:1.6rem;
}

.ref{
  font-size: 1.2rem;}

.tab-pane.active{
  margin-top: -15px;
}

.row_outcome_title{
  margin-top: 17px;
  margin-bottom: 10px;
}

.col_DT {
 min-width: 376px;
}



#col_input {
  margin-left: auto;
  margin-right: auto;
}


#col_output {
  margin-left: auto;
  margin-right: auto;
  padding-right: 0px;
}

#col_description {
  min-height: 380px;
  margin-left: auto;
  margin-right: auto;
}

#outcome_title {
 font-size: 2.4rem; 
}

#outcome_title_dt{
 margin-top:10px;
}

#variable_title {  
 font-size: 1.9rem; 
}

#download_button_row{
  margin-bottom:20px;
}

#data_vis_tabs{
 margin-bottom:10px;
}

#count_desc{
  margin-top: 10px;
}

#rate_desc{
  margin-top:10px;
}


/******   ABOUT TABPAGE   *******/
.col_about_dt {
max-width:1260px;
}

.about_well {
  max-width: 200px;
}

.col_about_text{
  max-width:1060px;
}


/******   CODE TABPAGE   *******/
summary{
  padding-bottom: 15px;
}
